body{
	background-color: #0099ff; 
	color:rgb(255,255,255);
	font-family: 'Open Sans', sans-serif;
	/* degradado */
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(144,178,209,1) 24%, rgba(144,178,209,1) 31%, rgba(232,75,177,1) 45%, rgba(144,178,209,1) 61%, rgba(32,124,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(24%, rgba(144,178,209,1)), color-stop(31%, rgba(144,178,209,1)), color-stop(45%, rgba(232,75,177,1)), color-stop(61%, rgba(144,178,209,1)), color-stop(100%, rgba(32,124,229,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(144,178,209,1) 24%, rgba(144,178,209,1) 31%, rgba(232,75,177,1) 45%, rgba(144,178,209,1) 61%, rgba(32,124,229,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(144,178,209,1) 24%, rgba(144,178,209,1) 31%, rgba(232,75,177,1) 45%, rgba(144,178,209,1) 61%, rgba(32,124,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(144,178,209,1) 24%, rgba(144,178,209,1) 31%, rgba(232,75,177,1) 45%, rgba(144,178,209,1) 61%, rgba(32,124,229,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(144,178,209,1) 24%, rgba(144,178,209,1) 31%, rgba(232,75,177,1) 45%, rgba(144,178,209,1) 61%, rgba(32,124,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );	
	/*end degradado*/
}
body .rojo{
	color :red;
}
#index .rojo{
	color:green;
}